<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/styles.css">
  </head>
  <body>
    <!-- Blog Posts -->
    <div class="wordcount">
      <span class="label-wordcount"> words</span>
      <span class="label-reading-time"> read</span>
      {{> body }}
    </div>
  </body>
</html>
